.spacer{
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.mouseHover:hover{
    background-color: regb(4,172,194);
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}