.container__table {
  width: 90%;
  margin: 0 20%;

  table {
    font-size: 1.2 rem;
    
    th {
      background-color: #303f9f;
      color: #f5eef8;
      padding: 1rem;
      text-align: left;
    }
    td {
      background-color: #eee;
      padding: 1rem;
    }

    .container__total {
      margin-top: 1rem;
      .total {
        color: #000;
        font-size: 1.5rem;
        
      }
    }
  }
}
